@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
*{

 font-family: 'Lato', sans-serif;  
 font-size: 16px;
 color: #47525e;

}


.nav-link{
    color: #47525e !important;
}

.img-icones{
    width: 30px;
    height: 30px;
}
.bt-header{

    border: none;
    background: none;

}


#categoria{
    
 font-size: 20px !important;


}

.bt-header-pesquisa{

    background-color: #969faa;

}

.borda-flex-tamanho{
  
  width: 40%;
    
 
 }
.tamanhoInput{

  width: 20px;

}


.fonte-carrinho-quantidade{
    
    color:white; 
    margin: auto;
    font: bold;
}

.div-carrinho{

    position: relative;
    right: 13%;
    

}

#logo-img{

   width: 100%;
   height: 100%;


}

.menu{

   width: 100%;


}

.menu{

   padding: 0px;
   margin-left: -1%;

}

.menu li{

   margin-left: 10%;
   

}

/* .navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */

.fundo-ham{

    background-color: #c81e21;
    width: 35px;
    height: 35px;

}

.fundo-ham::before{

    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    position: absolute;
    width: 35px;
    height: 35px;
}

.itens-menu a:hover{

    background-color: #c81e21;
    color: white !important;
    border-radius: 20px;
    
 
 }



 #departamentos:hover #categoria{
   
    color: white !important;
    
    
 }
 

 #departamentos{
   
    margin-left: 0!important;

    
 }


#departamentos a{
    white-space: nowrap; 
}

 #departamentos a:hover{
   
    

    background-color: #c81e21;
    color: white !important;
    border-radius: 20px;

 }

.itens-menu-show{

   display: none;

}

.barra-pesquisa-responsiva{

   display: none;

}

.itens-menu a{

    
    font-size: 20px !important;
 
 }

 .borda-flex{
     padding-right:13%;
 }

.tela-pequena{
    display: none;
}

.pesquisa-pedido {
    
    width: 20%;
    margin-left: 0px;
}


@media screen and (max-width: 992px) {
    
     .tela-grande{
  
          display: none;

     }
     .tela-pequena{
         display: block;
     }

     #logo-img{
      
        width: 120px;
        height: 70px;

     }

    #categoria{

      display: none;

    }
    .itens-menu{display: none;}
    .itens-menu-show{display:inline}
    
    #barra-pesquisa{

        width: 100%;

    }

    .div-quantidade{

       left: 60% !important;

    }
   

}

@media screen and (max-width: 360px) {
    

    .carrinho-tela-pequena{

        position: relative;
        right: 10%;

    }
  
    #logo-img{

        width: 80px;
        height: 55px;
        position: relative;
        right: 23%;


    }

    .cat{
        position: relative;
        right: 5%;
    }

}


.div-fonte{
    position: relative;
    top: -30px;
    left: 20%;   
}

.div-quantidade{

    position: relative;
    top: -35px;
    left: 13%;
    border-radius:60%;
    background-color:#77d353;
    width: 21px;
    height: 21px;
    text-align: center;
    color: white;
}

.fonte-carrinho-total{

    position: relative;
    top: -26px;
    left: 10%;
    white-space: nowrap; 
    
        
}

.fonte-forte{
    font-weight: 700;

}







/*------ BARRA VERMELHA ------*/

#barra-vermelha{

    background-color:#C81E21;
    padding:10px;
    margin: 0;
    
}


#titulo-fale-conosco {

    font-size: 24px;
    color: white;
    font-weight: bold;

}

.img-phone{
    width: 40px;
    height: 40px;
    position: relative;
    
}


@media screen and (max-width: 350px) {
   
}

@media screen and (max-width: 700px) {

}


/*---------FORMULÁRIO DE CONTATO-----------*/

.contato{

    margin-top: 5%;
   
}

.tamanho-form-contato {
    width: 80%;
   
}

.retorno-contato {

margin-top: -3%;
padding-bottom: 4%;

}

#msg-retorno-contato {

font-size: 12px;

}


.bt-limpar {

    background-color: #969faa;
    border: solid 1px #969faa;
    width: 120px;
    height: 40px;

}

.bt-limpar:hover {

background-color: #47525e;
border: solid 1px #47525e;

}


.bt-enviar {

background-color: #77d353;
border: solid 1px #77d353;
width: 200px;
height: 40px;

}

.bt-enviar:hover {

background-color: #77d340;
border: solid 1px #77d340;

}


.titulo-central-atendimento {

    color: #C81E21;
    font-weight: bold;
    font-size: 22px;

}

.img-phone-contato {

    width: 40px;
    height: 40px;

}

.texto.telefone {

    font-size: 20px;
}

.texto {

    font-weight: bold;
}

.img-email {

    width: 30px;
    height: 30px;

}

a {

    color: #47525e;
}

a:hover {

    color: #C81E21;
}

a:active {

    color: #C81E21;
}

@media screen and (min-width: 992px) {


    .tela-p2 {
        display: none;
    }

    .tela-p {
        display: none;
    }

    .tela-m {
        display: none;
    }

    .tela-g {
        display: flex;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .tela-g {
        display: none;
    }

    .tela-p {
        display: none;
    }

    .tela-p {
        display: none;
    }

    .bt-limpar {
        width: 100px;
    }

    .bt-enviar {
        width: 150px;
    }
}

@media screen and (min-width: 363px) and (max-width: 767px) {
    .tela-g {
        display: none;
    }

    .tela-m {
        display: none;
    }

    .tela-p {
        display: none;
    }

    .alinha-texto {
        text-align: center;
    }
}

@media screen and (max-width: 362px) {

    .tela-g {
        display: none;
    }

    .tela-m {
        display: none;
    }

    .tela-p {
        display: none;
    }

    .bt-limpar {
        width: 80px;
    }

    .bt-enviar {
        width: 120px;
    }
}




/* ------FOOTER----- */
.footer-container {
    position: relative;
    bottom: -100vh;
    margin-bottom: 0px!;
    background-color: rgba(211, 207, 207, 0.3);
    padding-left: 9%;

    position: relative;
    bottom: -15vh;
}


.titulo-footer {
    color: #c81e21;
    font-size: 22px;
    font-weight: bold;
}

.link-footer {
    color: #47525e;
}

.link-footer:hover {
    text-decoration: none;
}
@media screen and (max-width: 767px) {
    
    .footer-textos{
        display:none;
    }

}