@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
*{

 font-family: 'Lato', sans-serif;  
 font-size: 16px;
 color: #47525e;

}

.img-icones{
    width: 30px;
    height: 30px;
}
.bt-header{

    border: none;
    background: none;

}

.bt-header-pesquisa{

    background-color: #969faa;

}

.borda-flex-tamanho{
  
  width: 450px;
    
 
 }
.tamanhoInput{

  width: 20px;

}

.fonte-carrinho-quantidade{
    
    color:white; 
    margin: auto;
    font: bold;
}

.div-carrinho{

    position: relative;
    right: 13%;
    

}

#logo-img{

   width: 100%;
   height: 100%;


}

.menu{

   width: 100%;


}

.menu{

   padding: 0px;
   margin-left: -1%;

}

.menu li{

   margin-left: 10%;
   

}

/* .navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */

.fundo-ham{

    background-color: #c81e21;
    width: 35px;
    height: 35px;

}

.fundo-ham::before{

    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    position: absolute;
    width: 35px;
    height: 35px;
}

.itens-menu a:hover{

    background-color: #c81e21;
    color: white !important;
    border-radius: 20px;
    
 
 }

 #departamentos{
   
    margin-left: 0!important;

    
 }
#categorias-div{

  margin-top:12px;

}

#departamentos a{
    white-space: nowrap; 
}

 #departamentos a:hover{
   
    

    background-color: #c81e21;
    color: white !important;
    border-radius: 20px;

 }

.itens-menu-show{

   display: none;

}

.barra-pesquisa-responsiva{

   display: none;

}

.itens-menu a{

    
    font-size: 20px !important;
 
 }

 .borda-flex{
     padding-right:13%;
 }

.tela-pequena{
    display: none;
}

@media screen and (max-width: 992px) {
    
     .tela-grande{
  
          display: none;

     }
     .tela-pequena{
         display: block;
     }

     #logo-img{
      
        width: 120px;
        height: 70px;

     }

    .itens-menu{display: none;}
    .itens-menu-show{display:inline}
    
    #barra-pesquisa{

        width: 100%;

    }

    .div-quantidade{

       left: 60% !important;

    }
   

}

.div-fonte{
    position: relative;
    top: -30px;
    left: 20%;   
}

.div-quantidade{

    position: relative;
    top: -35px;
    left: 13%;
    border-radius:60%;
    background-color:#77d353;
    width: 21px;
    height: 21px;
    text-align: center;
    color: white;
}

.fonte-carrinho-total{

    position: relative;
    top: -26px;
    left: 10%;
    white-space: nowrap; 
    
        
}

.fonte-forte{
    font-weight: 700;

}